input {
	width: 80%;
	border: none;
	padding: 5px;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
	vertical-align: middle;
	font-size: 1.7vw;
}

input:focus {
	border-bottom: solid 2px #2196f3;
	outline: none;
}
